h1 {
	font-size: 100px;
	 color: rgba(255,255,255,1);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 50px;
  line-height: 100px;
  text-align: center;
  bottom: 0;
  margin: 0;
  height: 150px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
p {
	font-size: 20px;
	margin: 10px 15px 10px 15px;
	background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  bottom: 0;
  margin: 0;
  height: 100px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
	padding: 20px;
	color: white;
	margin-bottom: 50px;


}
body {
	background-image: url("blocky3.png");
	background-size: cover;
	font-family: "Arial", Sans-serif;
	margin: 0px;
	min-height: 100%;
	width: 100%;
}

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}