h1 {
	font-size: 100px;
	 color: rgba(255,255,255,1);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 50px;
  line-height: 28px;
  text-align: center;
  bottom: 0;
  margin: 0;
  height: 50px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
	
}
body {
	background-image: url("blocky3.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Arial", Sans-serif;
	background-position: top;
	margin: 0px;
	min-height: 100%;
	width: 100%;
}
p {
	 color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  bottom: 0;
  margin: 0;
  height: 50px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
a {
	background-color: black;
	font-size: 20px;
}
html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

a{
 text-decoration:none;
 color:#cc0000;
}
a.button,div.container{
 float:left;
}
a.button{
 background-color:#cc0000;
 border:1px solid #660000;
 border-radius:5px;
 color:#fff;
 margin-right:10px;
 padding:10px 10px 10px 10px;
}

