h1 {
	font-size: 100px;
	background-color: blue;
	color: white;
	 color: rgba(255,255,255,1);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 50px;
  line-height: 28px;
  text-align: center;
  bottom: 0;
  margin: 0;
  height: 50px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
	
}
body {
	background-image: url("blocky.png");
	background-size: cover;
	position: relative;
	font-family: "Arial", Sans-serif;
}
p {
	 color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  bottom: 0;
  margin: 0;
  height: 50px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
a {
	background-color: black;
	font-size: 20px;
}

font-size: 30px;
	background: black
	color: white;
	margin-right: 30px;
	margin-left: 30px;